<section class="d-flex justify-content-center align-items-center forms">
  <div class="form login">
    <div class="form-content">
      <header>Login</header>
      <form [formGroup]="loginForm">
        <div
          class="field input-field"
          [ngClass]="{
            'mb-5': submitAttempted && loginForm.controls['email'].invalid
          }"
        >
          <input
            type="email"
            formControlName="email"
            placeholder="Email"
            class="input mb-1"
          />
          <ng-container
            *ngIf="
              loginForm.controls['email'] && loginForm.controls['email'].errors
            "
          >
            <span
              *ngIf="
                submitAttempted &&
                loginForm.controls['email'].errors['required']
              "
              class="help-block text-danger"
              [innerHTML]="'Please Enter Email Address'"
            >
            </span>
            <span
              *ngIf="
                submitAttempted && loginForm.controls['email'].errors['email']
              "
              class="help-block text-danger"
              [innerHTML]="'Please Enter Valid Email Address'"
            >
            </span>
          </ng-container>
        </div>

        <div
          class="field input-field"
          [ngClass]="{
            'mb-5': submitAttempted && loginForm.controls['password'].invalid
          }"
        >
          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            formControlName="password"
            class="password mb-1"
          />
          <span
            *ngIf="submitAttempted && loginForm.controls['password'].invalid"
            class="help-block text-danger"
            [innerHTML]="'Please Enter Password'"
          >
          </span>
          <img
            class="eye-icon"
            (click)="showPassword = !showPassword"
            [src]="
              '/assets/images/icons/' +
              (showPassword ? 'view-eye.png' : 'hide-eye.png')
            "
            alt="eye"
          />
        </div>

        <div class="field button-field">
          <button (click)="login()">Login</button>
        </div>
      </form>

      <div class="form-link">
        <span
          >Don't have an account?
          <a routerLink="/auth/register" class="link signup-link"
            >Signup</a
          ></span
        >
      </div>
    </div>
  </div>
</section>
