<div class="chatties-app" *ngIf="!loader; else load">
  <div id="frame">
    <div class="sidebar">
      <app-sidebar
        [users]="users"
        [currentUser]="currentUser"
        [chatArray]="chatArray"
        [activeUser]="activeUser"
        (emitActiveUser)="setUserActive($event)"
      ></app-sidebar>
    </div>

    <div class="content" *ngIf="activeUser._id && activeUser._id.length > 0">
      <div class="contact-profile">
        <div
          class="contact-img d-flex justify-content-center align-items-center"
          [ngStyle]="{ background: 'red' }"
        >
          <h4 class="text-center mb-0">{{ activeUser.first_name![0] }}</h4>
        </div>
        <p>{{ activeUser.first_name }} {{ activeUser.last_name }}</p>
      </div>
      <div class="messages" #scrollMe>
        <ul class="p-0">
          <li
            [class]="msg.userId === currentUser.user_id ? 'sent' : 'replies'"
            *ngFor="let msg of messageArr"
          >
            <div
              class="chat-img d-flex justify-content-center align-items-center"
              [ngStyle]="{
                background: msg.userId === currentUser.user_id ? 'green' : 'red'
              }"
              [ngClass]="
                msg.userId === currentUser.user_id
                  ? 'sender-img'
                  : 'receiver-img'
              "
            >
              <h6 class="text-center mb-0">
                {{
                  msg.userId === currentUser.user_id
                    ? currentUser.first_name![0]
                    : activeUser.first_name![0]
                }}
              </h6>
            </div>
            <p>{{ msg?.message || "" }}</p>
          </li>
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
          <input
            type="text"
            [(ngModel)]="inputMessage"
            placeholder="Write your message..."
            (keyup.enter)="addNewMessage()"
          />
          <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
          <button class="submit" (click)="addNewMessage()">
            <img class="w-50" src="assets/images/icons/send.png" alt="send" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #load>
  <div
    style="height: 100vh"
    class="d-flex justify-content-center align-items-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      style="
        margin: auto;
        background: rgba(255, 255, 255, 0);
        display: block;
        shape-rendering: auto;
      "
      width="200px"
      height="200px"
      viewBox="0 0 100 100"
      preserveAspectRatio="xMidYMid"
    >
      <path
        d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50"
        fill="#2c3e50"
        stroke="none"
      >
        <animateTransform
          attributeName="transform"
          type="rotate"
          dur="1s"
          repeatCount="indefinite"
          keyTimes="0;1"
          values="0 50 51;360 50 51"
        ></animateTransform>
      </path>
    </svg>
  </div>
</ng-template>
