<div class="chatties-app" *ngIf="!loader; else load">
  <div id="frame">
    <div class="sidebar">
      <app-sidebar
        [users]="users"
        [currentUser]="currentUser"
        [(activeUser)]="activeUser"
      ></app-sidebar>
    </div>

    <div class="content" *ngIf="activeUser._id && activeUser._id.length > 0">
      <div class="contact-profile">
        <div
          class="contact-img"
          (click)="expandStatuses = !expandStatuses"
          [ngStyle]="{ background: 'red' }"
        >
          <h4 class="text-center pt-2">{{ activeUser.first_name![0] }}</h4>
        </div>
        <!-- <img class="contact-img" [src]="activeUser.img" alt="" /> -->
        <p>{{ activeUser.first_name }} {{ activeUser.last_name }}</p>
        <div class="social-media">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
      <div class="messages" #scrollMe>
        <ul class="p-0">
          <li [class]="msg.type" *ngFor="let msg of activeUser?.messages">
            <div
              class="chat-img"
              (click)="expandStatuses = !expandStatuses"
              [ngStyle]="{ background: msg.type === 'sent' ? 'green' : 'red' }"
              [ngClass]="msg.type === 'sent' ? 'sender-img' : 'receiver-img'"
            >
              <h6 class="text-center pt-1">
                {{
                  msg.type === "sent"
                    ? currentUser.first_name![0]
                    : activeUser.first_name![0]
                }}
              </h6>
            </div>
            <!-- <img
              [ngClass]="msg.type === 'sent' ? 'sender-img' : 'receiver-img'"
              [src]="
                msg.type === 'sent' ? activeUser.img : messageReceivedFrom.img
              "
              alt=""
            /> -->
            <p>{{ msg?.message || "" }}</p>
          </li>
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
          <input
            type="text"
            #msgInput
            placeholder="Write your message..."
            (keyup.enter)="addNewMessage(msgInput)"
          />
          <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
          <button class="submit" (click)="addNewMessage(msgInput)">
            <img class="w-50" src="assets/images/icons/send.png" alt="send" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #load></ng-template>
