<div id="sidepanel">
  <div id="profile">
    <div class="wrap">
      <div class="d-flex justify-content-between">
        <div class="user-profile-title">
          <div
            class="profile-img d-flex justify-content-center align-items-center"
            [ngStyle]="{ background: 'green' }"
          >
            <h4 class="text-center mb-0">{{ currentUser.first_name![0] }}</h4>
          </div>
          <p>{{ currentUser.first_name }} {{ currentUser.last_name }}</p>
        </div>
        <div
          class="logout d-flex justify-content-end align-items-center"
          (click)="logout()"
        >
          <!-- <p class="mb-0">Logout</p> -->
          <img src="/assets/images/icons/logout.png" alt="logout" />
        </div>
      </div>
    </div>
  </div>
  <div id="search">
    <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
    <input type="text" [(ngModel)]="search" placeholder="Search contacts..." />
  </div>
  <div id="contacts">
    <ul class="sidebar-chat-list ps-0">
      <li
        class="contact"
        *ngFor="let user of users | search : search; let i = index"
        (click)="setUserActive(user)"
        [class.active]="activeUser._id === user._id"
      >
        <div class="wrap d-flex">
          <div class="w-25 d-flex justify-content-center align-items-center">
            <div
              class="contact-img"
              [ngStyle]="{
                background:
                  colorArr[$any(i.toString().charAt(i.toString().length - 1))]
              }"
            >
              <h4 class="text-center pt-2">{{ user.first_name![0] }}</h4>
            </div>
          </div>

          <div class="meta">
            <p class="name mb-0">{{ user.first_name }} {{ user.last_name }}</p>
            <ng-container *ngFor="let chatArr of chatArray">
              <p
                class="preview"
                *ngIf="chatArr.roomId == user.roomId![currentUser.user_id!]"
              >
                {{ chatArr.chat[chatArr.chat.length - 1].message || "" }}
              </p>
            </ng-container>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- <div id="bottom-bar">
    <button id="addcontact">
      <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
      <span>Add contact</span>
    </button>
    <button id="settings">
      <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
      <span>Settings</span>
    </button>
  </div> -->
</div>
